fastapi==0.117.1
uvicorn[standard]==0.30.6
python-multipart==0.0.20
pillow==11.3.0
sqlalchemy==2.0.43
numpy==1.26.4
opencv-python-headless==4.10.0.84
timm==1.0.20
ultralytics==8.3.40

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
torchvision==0.20.1+cpu
